name: Deploy to remote server
on:
  push:
  branches:
    - main
 
jobs:
  deploy:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout code
    uses: actions/checkout@v2
   
  - name: Setup SSH Key
    uses: webfactory/ssh-agent@v0.5.0
    with:
    ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
   
  - name: Deploy code
    uses: appleboy/ssh-action@master
    with:
    host: 20.216.57.146
    username: Lovable_dev
    key: ${{ secrets.SSH_PRIVATE_KEY }}
    script: |
      cd /home/Lovable_dev/autodeploy-lab
      git pull origin main
      npm install
      npm run build
