name: Deploy to remote server

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy code
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}         
          username: ${{ secrets.USERNAME }}  
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/Lovable_dev/autodeploy-lab
            git pull origin main
            npm install
            pkill node || true
            PORT=3000 nohup node server.js > app.log 2>&1 &
