name: Deploy to remote server

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy code
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 20.216.57.146
          username: Lovable_dev
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /home/Lovable_dev/autodeploy-lab
            git pull origin main
            npm install
            pkill node || true
            PORT=3000 nohup node server.js > app.log 2>&1 &
